@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #25336d;
$secondary_color: #25336d;
$tertiary_color: #5b89b5;
$background: #25336d;
$border: #25336d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Montserrat Black';
	src: url(fonts/Montserrat-Black.ttf);
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url(fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url(fonts/Montserrat-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: {
		image: url(bg.png);
		position: center;
	}
	font: {
		family: 'Montserrat Regular';
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	.moduletable_to1 {
		padding: 20px 0;
	}
	.moduletable_to4 {
		padding: 5px 0;
		font-size: 12px;
		p {
			margin: 0;
		}
	}
}

.top {
	background-color: $primary_color;
	.moduletable_to2 {
		ul {
			li {
				background: {
					image: url(moduletable_to2_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				&:last-child {
					background: none;
				}
			}
		}
	}
	.moduletable_to3 {
		a {
			padding: 0 10px;
			background: {
				image: url(moduletable_to3_a_bg.png);
				position: right;
				repeat: no-repeat;
			}
			display: inline-block;
			&:last-child {
				background: none;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	h1 {
		width: fit-content;
		margin: auto;
		padding: 5px 10px;
		// border: 1px solid $border;
		font: {
			family: 'Montserrat ExtraBold';
			size: 30px;
		}
	}
	h2 {
		font: {
			family: 'Montserrat Black';
			size: 16px;
		}
	}
	h3 {
		width: fit-content;
		margin: auto;
		border-bottom: 1px solid $border;
		font: {
			family: 'Montserrat ExtraBold';
			size: 24px;
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	a {
		&.button {
			background-color: $tertiary_color;
			border-radius: 0;
		}
	}
	.woocommerce {
		h1 {
			margin-bottom: 30px;
		}
		ul.products {
			li {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						margin-bottom: 10px;
						padding: 10px;
						border: 1px solid #ccc;
					}
					h2.woocommerce-loop-product__title {
						width: 100%;
						padding: 10px 0 !important;
					}
				}
			}
		}
		.product {}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 40px;
	.moduletable_b11 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 10px;
			// border: 1px solid $border;
			font: {
				family: 'Montserrat ExtraBold';
				size: 30px;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding-bottom: 40px;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 10px;
			// border: 1px solid $border;
			font: {
				family: 'Montserrat ExtraBold';
				size: 30px;
			}
		}
		#nuestros_proveedores {
			// border: 1px solid $primary_color;
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 40px;
	.moduletable_b31 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 5px 10px;
			// border: 1px solid $border;
			font: {
				family: 'Montserrat ExtraBold';
				size: 30px;
			}
		}
		.wpcf7 {
			label {
				color: $primary_color;
			}
			input,
			textarea {
				margin-bottom: 5px;
				border-color: $border;
				border-radius: 0;
				&.button {
					margin: 0;
					background-color: $secondary_color;
					border-radius: 0;
				}
			}
			.asterisk {
				color: red;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0;
	background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_bo1 {
		font-weight: bold;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $primary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}